In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('news+aggregator/newsCorpora.csv',
                 names=['id', 'title', 'url', 'publisher', 'category', 'story', 'hostname', 'timestamp'],
                 sep='\t')
df_use = df[['publisher', 'category', 'title']]
df_use.head()

,publisher,category,title
0,Los Angeles Times,b,"Fed official says weak data caused by weather,..."
1,Livemint,b,Fed's Charles Plosser sees high bar for change...
2,IFA Magazine,b,US open: Stocks fall after Fed official hints ...
3,IFA Magazine,b,"Fed risks falling 'behind the curve', Charles ..."
4,Moneynews,b,Fed's Plosser: Nasty Weather Has Curbed Job Gr...

In [2]:
publisher_set = set(['Reuters', 'Huffington Post', 'Businessweek', 'Contactmusic.com', 'Daily Mail'])
df_use = df_use[df_use['publisher'].isin(publisher_set)][['category', 'title']]
df_train, df_validtest = train_test_split(df_use, test_size=0.2, random_state=0, stratify=df_use['category'])
df_valid, df_test = train_test_split(df_validtest, test_size=0.5, random_state=0, stratify=df_validtest['category'])
print(len(df_train), len(df_valid), len(df_test))
df_train.head()

10672 1334 1334

       category                                              title
9266          b  Bouygues confirms improved offer for Vivendi's...
63781         b  US stocks end off highs, Dow up for week; gold...
198433        e  'Chef' Director: The Creative Driving Force Be...
356310        b  South African labor minister to meet with stri...
403939        e  Kaley Cuoco and her Big Bang Theory co-stars h...

In [3]:
df_train.to_csv('train.txt', sep='\t', index=False)
df_valid.to_csv('valid.txt', sep='\t', index=False)
df_test.to_csv('test.txt', sep='\t', index=False)